html
{
  background-color:#faebd7;
}
main
{
  background-color:#FAEFE0;
}
header
{
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 3px;
  text-align: center;
  width: 100%;
  background-color:#faebd7;
  box-shadow: 5px 5px 5px gray;
}
header h1
{
  font-size: 20pt;
  margin-bottom: 3px;
}
section
{
  text-align: center;
  width: 100%;
  background-color: #FAEFE0;
  padding: 5px 0px 5px 0px;
}
img
{
 border-radius: 5%; 
 width:18rem;
  height:11rem;
}
footer
{
  background-color:#faebd7;
  width: 100%;
  padding-top: 8px;
  text-align:center;
}
a
{
text-decoration: none;
color:black;
}
header a:hover, h1:hover
{
  color: red;
  display: block;
  transform: scale(1.1);
  transition: font-size 0.5s ease;
  transition:0.5s;
}
#imgs img
{
  width:50px;
  height:50px;
  margin-right: 4px;
}
#imgs img
{
  display:inline;
}
footer h3
{
  margin-top: 8px;
}
.imagem1:hover
{
  content:url("instagram_2.png");
  transition: 0.5s;
}
.imagem2:hover
{
  content:url("pinterest_2.png");
  transition: 0.5s;
}
.imagem3:hover
{
  content:url("x_1.png");
  transition: 0.5s;
}
.imagem4:hover
{
  content:url("facebook_2.png");
  transition: 0.5s;
}
h3 a:hover
{
  display: inline-block;
  transform: scale(1.1);
  transition: font-size 0.5s ease;
  transition:0.5s;
}
#titleingre, #passoa
{
  position:relative;
  border-radius:2rem;
  width:10rem;
  height:2rem;
  text-align:center;
  justify-self:center;
  background-color: #F8E4CA;
  margin:2rem 0rem;
  padding-top:1rem;
}
#ingrediente
{
  display:inline-block;
  position:relative;
  vertical-align:top;
  width:20rem;
  height:15rem;
  padding: 10px 5px;
  justify-self: center;
  background-color: #F8E4CA;
  box-shadow: 5px 5px 5px gray;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 1rem;
  text-align:center;
  justify-self:center;
}
#ingrediente h3
{
  margin-top:1rem;
}
#content
{
  text-align:center;
}
#passo
{
  display:inline-block;
  position:relative;
  vertical-align:top;
  width:18rem;
  height:3rem;
  padding: 10px 5px;
  justify-self: center;
  background-color: #F8E4CA;
  box-shadow: 5px 5px 5px gray;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 1rem;
  text-align:center;
  padding:2rem;
}
