body a
{
  color: black;
}
header
{
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 3px;
  text-align: center;
  width: 100%;
  background-color: #E9E9E9CE;
  box-shadow: 0px 5px 5px gray;
}
header h1
{
  font-size: 20pt;
  margin-bottom: 3px;
}
header a
{
  text-decoration: none;
}
section
{
  text-align: center;
  width: 100%;
  background-color: #E9E9E9CE;
  padding: 5px 0px 5px 0px;
}
#reci
{
  width: 40%;
  padding: 3px 0px;
  justify-self: center;
  background-color: #FFFFFFCE;
  box-shadow: 5px 5px 5px gray;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5%;
}
#reci h2
{
  margin: 2px;
}
#reci a, p, h2, img
{
  text-decoration: none;
}
img
{
 border-radius: 5%; 
 margin-bottom:16px;
}
footer
{
  background-color: #E9E9E9CE;
  width: 100%;
  text-align: center;
  padding-top: 8px;
}
footer h3
{
  font-size: 15pt;
}
h2:hover
{
  color: red;
}
.menu li
{
  display: inline;
}
.menu li, a:hover
{
  color: red;
}
.deku
{
  margin-top: 8px;
}
.hero {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5))
  , url('favicon.png') no-repeat center center/cover;
  text-align: center;
  padding: 6rem 2rem;
  color: #fff;
}
